@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "quantify";
  src: url("../fonts/Quantify.ttf") format("truetype"); /* Asegúrate de que la ruta sea correcta */
  font-weight: bold;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scroll-behavior: smooth;
}

.sectionFlow {
  height: 90dvh;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.light {
  position: absolute;
  width: 200px; /* Tamaño de la "linterna" */
  height: 200px; /* Tamaño de la "linterna" */
  border-radius: 50%; /* Forma circular */
  background: #ffffff;
  filter: blur(50px);
  mix-blend-mode: screen; /* Mezclar con el fondo oscuro */
  pointer-events: none; /* Ignorar eventos del mouse */
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  z-index: 2; /* Asegurar que el logo esté sobre la "linterna" */
}

.mySwiper > div {
  transition-timing-function: linear;
}

.swiperBanner {
  width: 700px;
  height: 100%;
  /* left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px; */
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-wave {
  animation: wave 5s ease-in-out infinite;
  background-size: 300% 300%;
}

.typeReact::after {
  content: "";
}

.titlesF {
  font-family: "quantify", sans-serif;
}

.polygon {
  transition: all 0.5s;
  opacity: 0;
  background: linear-gradient(to top, #634e9b, #30bde7, #e21682);
  width: 100px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(
    100% 50%,
    85.36% 85.36%,
    50% 100%,
    14.64% 85.36%,
    0% 50%,
    14.64% 14.64%,
    50% 0%,
    85.36% 14.64%,
    100% 50%,
    calc(85.36% - 3.54px) calc(14.64% - -3.54px),
    calc(50% - 0px) calc(0% - -5px),
    calc(14.64% - -3.54px) calc(14.64% - -3.54px),
    calc(0% - -5px) calc(50% - 0px),
    calc(14.64% - -3.54px) calc(85.36% - 3.54px),
    calc(50% - 0px) calc(100% - 5px),
    calc(85.36% - 3.54px) calc(85.36% - 3.54px),
    calc(100% - 5px) calc(50% - 0px),
    calc(85.36% - 3.54px) calc(14.64% - -3.54px)
  );
}

.containerNavServices {
  cursor: pointer;

  p,
  path {
    transition: all;
    transition-duration: 0.5s;
  }

  &:hover {
    .polygon {
      opacity: 1;
    }

    p {
      color: #30bde7;
    }

    svg {
      path {
        fill: #e21682;
      }
    }
  }
}
